/* GENERAL */
html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: default;
  padding: 0;
}

h1 {
  color: #ee6a51;
  font-weight: 640;
  font-size: 9vh;
}

h2 {
  color: #ee6a51;
  font-weight: 640;
  font-size: 7vh;
  margin: 0;
}

h3 {
  color: white;
  font-weight: 640;
  font-size: 5vh;
}

h4 {
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

li {
  list-style-type: none;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

li a:hover {
  color: #ee6a51;
  transition: 0.2s;
}

a:hover {
  color: #ee6a51;
  transition: 0.2s;
}
/* END GENERAL */

.underline {
  background-color: #ee6a51;
  width: 150px;
  height: 9px;
  border-radius: 100px;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  /* background-color: red; */
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0.2rem 0;
  background-color: #ffffff;
  z-index: 99;
}

.mobile-menu {
  z-index: 100;
  position: fixed;
  background-color: #f7d27f;
  width: 100vw;
  height: 100vh;
  display: none;
}

.mobile-menu ul {
  margin: 30vh auto;
  /* text-align: center; */
}

.mobile-menu li {
  margin-bottom: 2rem;
}

.mobile-menu a {
  color: #111111;
}

.nav-mobile {
  display: none;
}

.logo {
  margin-left: 6rem;
}

.menu a {
  margin-left: 2rem;
}

.menu a:hover {
  color: #ee6a51;
  transition: 0.3s;
}

.menu {
  margin-right: 6rem;
}

#selected {
  color: #ee6a51;
  font-weight: 640;
}

/* FOOTER */
footer {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 100px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
}

.footer-right {
  display: flex;
}

.footer-right div {
  width: 50%;
}

.footer-left {
  margin-left: 40px;
}

.footer-right-inside a {
  color: #67787c;
}

.footer-title {
  color: black;
  font-weight: 640;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
/* END FOOTER */

@media screen and (max-width: 600px) {
  h1 {
    color: #ee6a51;
    font-weight: 640;
    font-size: 5vh;
  }

  h2 {
    color: #ee6a51;
    font-weight: 640;
    font-size: 3vh;
  }

  h3 {
    color: white;
    font-weight: 640;
    font-size: 3vh;
  }

  p {
    font-size: 2vh;
  }

  .menu {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .nav-mobile {
    display: flex;
    width: 20px;
    padding-right: 4rem;
  }

  .underline {
    height: 4px;
    width: 100px;
  }

  .socialmedia {
    width: 30px;
  }

  footer {
    padding: 0;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    align-items: flex-start;
    justify-content: center;
  }

  footer img {
    width: 15rem;
  }
}
