body{
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow-x: default;
    padding: 0;
}

html{
    margin:0;
    scroll-behavior: smooth;
}

h1{
    color: #EE6A51;
    font-weight: 640;
    font-size: 9vh;
}

h2{
    color: #EE6A51;
    font-weight: 640;
    font-size: 7vh;
    margin: 0;
}

h3{
    color: white;
    font-weight: 640;
    font-size: 5vh;
}


h4{
    margin: 0;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

li{
    list-style-type: none;
    padding: 0;
}



a{
    all: unset;
    cursor: pointer;
}

li a:hover{
    color: #EE6A51;
    transition: 0.2s;
}

a:hover{
    color: #EE6A51;
    transition: 0.2s;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    
    margin: 0px;
    /* margin-top: 20rem; */
}

.underline{
    background-color: #EE6A51;
    width: 150px;
    height: 9px;
    border-radius: 100px;
    margin-top: 0.5rem;
}


/* NAVBAR */

nav{
    display: flex;
    align-items: center;
    /* background-color: red; */
    position: fixed;
    width: 100%;
    max-width: 100vw;
    justify-content: space-between;
    padding: .2rem 0;
    background-color: #FFFFFF;
    z-index: 99;
}



.mobile-menu{
    z-index: 100;
    position: fixed;
    background-color: #F7D27F;
    width: 100vw;
    height: 100vh;
    display: none;
}

.mobile-menu ul{
    margin: 30vh auto;
    /* text-align: center; */
    
}

.mobile-menu li {
    margin-bottom: 2rem;
    
}

.mobile-menu a{
    color: #111111;
}

.nav-mobile{
    display: none;
}

.logo{margin-left: 6rem;}

.menu a{
    /* text-decoration: none;
    color: #516064; */
    margin-left: 2rem;
}

.menu a:hover{
    color: #EE6A51;
    transition: 0.3s;
}

.menu {
    margin-right: 6rem;
    
}

#selected{
  color: #EE6A51;
  font-weight: 640;
}


/* SECTION 1 */

#sect1{
    /* padding-top: rem; */
    background-image: url(../img/startadventure/sect1-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2rem;
}

#sect1 h2{
    color: #FFFFFF;
}

#sect1 p{
    width: 40%;
    font-size: 1.29em;
}

.down-arrow{
    margin-top: 5rem;
    width: 2rem;
    filter: invert(1);
}

/* SECTION 2 */

#sect2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

#sect2 .top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sect2 .bottom{
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background-color: red; */
}

#sect2 p{
    display: block;
}

.small-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    /* overflow: hidden; */
    /* background-color: #35A9DB; */
    border-radius: 20px;
    text-align: center;
}

.small-card p{
    width: 230px;
}

.card-image{
    width: 250px;
    transition: width 0.5s;
}

#sect2-bg1{
    position: absolute;
    left: 0;
    top: 7rem;
    width: 10rem;
    z-index: -1;
}


#sect2-bg2{
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 16rem;
    z-index: -1;
}


/* SECTION 3 */

#sect3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

#sect3 .top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sect3 .bottom{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

#sect3 ul{
    padding-left: 2rem;
}

#sect3 h4{
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
}

#sect3 li{
    list-style-type: circle;
    margin: 0;
    font-size: 0.9rem;
}

.big-card{
    display: flex;
    flex-direction: column;
    /* background-color: #EE6A51; */
    border-radius: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #FFFFFF;
    transition: all .5s;
}

.big-card:hover{
    box-shadow: 0 6px 20px #EE6A51;
    transform: scale(102%);
}

.offer-img{
    width: 17rem;
}

.big-card-price{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.price{
    font-size: 1.2rem;
    /* padding-left: 1rem; */
}

.order{
    all: unset;
    background-color: #EE6A51;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    color: white;
    border-radius: 8px;
}

.order:hover{
    background-color: #e9998a;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#sect3-bg{
    position: absolute;
    right: 0;
    bottom: 2rem;
    width: 40rem;
    z-index: -1;
}


/* FOOTER  */

footer{
    
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px; 
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
}

.footer-right{
    display: flex;
}

.footer-right div{
    width: 50%;
}

.footer-left{
    margin-left: 40px;
}

.footer-right-inside a{
    color: #67787c;
}


.footer-title{
    color: black;
    font-weight: 640;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

/* MOBILE DISPLAY */

@media screen and (max-width:600px){
    body{
        overflow-x: hidden;
    }
    .underline{
        height: 4px;
        width: 100px;
    }
    h1{
        color: #EE6A51;
        font-weight: 640;
        font-size: 5vh;
    }

    h2{
        color: #EE6A51;
        font-weight: 640;
        font-size:4vh;
        width: 100%;
        text-align: center;
    }

    h3{
        color: white;
        font-weight: 640;
        font-size: 3vh;
    }

    p{
        font-size: 2vh;
    }

    
    nav{
        
        justify-content: space-between;
    }

    .menu{
        display: none;
    }

    .logo{
        margin-left: 2.5rem;
    }
    
    .logo img{
        width: 150px;
    
    }

    .nav-mobile{
        display: flex;
        width: 20px;
        padding-right: 3rem;

    }

    /* SECTION 1 */

    #sect1 p{
        margin-top: 6rem;
        font-size: 1rem;
        width: 90%;
    }

    /* SECTION 2 */
    
   

    

    #sect2 .bottom{
        /* background-color: red; */
        /* width: 500%; */
        padding: 0;
        height: 31rem;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #sect2-bg1{
        width: 8rem;
        top: 3rem;
    }

    #sect2-bg2{
        width: 10rem;
        top: 3rem;
    }

    /* SECTION 3 */
    #sect3 .bottom{
        /* background-color: red; */
        /* width: 500%; */
        padding-left: 3rem;
   
        height: 31rem;
        gap: 1.5rem;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .big-card{
        margin-top: 2rem;        
        height: 27rem;
        width: 14rem;
    }

    .offer-img{
        width: 14rem;
    }

    #sect3-bg{
        width: 20rem;
    }

    /* FOOTER  */
    footer{
        padding: 0;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
        align-items: flex-start;
        justify-content: center;
    }

    footer img{
        width: 15rem;
    }

    .footer-right{
        
    }

}