/* SECTION 1 */

#sect1 {
  background-image: url(../img/startadventure/sect1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-top: 2rem;
}

#sect1 h2 {
  color: #ffffff;
}

#sect1 p {
  width: 40%;
  font-size: 1.29em;
}

.down-arrow {
  margin-top: 5rem;
  width: 2rem;
  filter: invert(1);
}

/* SECTION 2 */

#sect2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
}

#sect2 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sect2 .bottom {
  display: flex;
  flex-direction: row;
  width: 70%;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}

#sect2 p {
  display: block;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 350px;
  /* overflow: hidden; */
  /* background-color: #35A9DB; */
  border-radius: 20px;
  text-align: center;
}

.small-card p {
  width: 230px;
}

.card-image {
  width: 250px;
  transition: width 0.5s;
}

#sect2-bg1 {
  position: absolute;
  left: 0;
  top: 7rem;
  width: 10rem;
  z-index: -1;
}

#sect2-bg2 {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 16rem;
  z-index: -1;
}

/* SECTION 3 */

#sect3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
}

#sect3 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sect3 .bottom {
  width: 70%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

#sect3 ul {
  padding-left: 2rem;
}

#sect3 h4 {
  margin: 0;
  padding-left: 1rem;
  padding-top: 1rem;
}

#sect3 li {
  list-style-type: circle;
  margin: 0;
  font-size: 0.9rem;
}

.big-card {
  display: flex;
  flex-direction: column;
  /* background-color: #EE6A51; */
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #ffffff;
}

.offer-img {
  width: 17rem;
}

.big-card-price {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  /* padding-left: 1rem; */
}

.order {
  all: unset;
  background-color: #ee6a51;
  width: 5rem;
  height: 2.5rem;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.order:hover {
  background-color: #e9998a;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#sect3-bg {
  position: absolute;
  right: 0;
  bottom: 2rem;
  width: 40rem;
  z-index: -1;
}

/* MOBILE DISPLAY */
@media screen and (max-width: 600px) {
  .underline {
    height: 4px;
    width: 100px;
  }
  h1 {
    color: #ee6a51;
    font-weight: 640;
    font-size: 5vh;
  }

  h2 {
    color: #ee6a51;
    font-weight: 640;
    font-size: 4vh;
    width: 100%;
    text-align: center;
  }

  h3 {
    color: white;
    font-weight: 640;
    font-size: 3vh;
  }

  p {
    font-size: 2vh;
  }

  nav {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .logo img {
    width: 150px;
    /* display: none; */
  }

  .nav-mobile {
    display: flex;
    width: 20px;
    padding-right: 4rem;
  }

  /* SECTION 1 */

  #sect1 p {
    margin-top: 6rem;
    font-size: 1rem;
    width: 90%;
  }

  /* SECTION 2 */

  #sect2 .bottom {
    /* background-color: red; */
    /* width: 500%; */
    padding: 0;
    height: 31rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #sect2-bg1 {
    width: 8rem;
    top: 3rem;
  }

  #sect2-bg2 {
    width: 10rem;
    top: 3rem;
  }

  /* SECTION 3 */
  #sect3 .bottom {
    /* background-color: red; */
    /* width: 500%; */
    padding: 0;
    height: 31rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .big-card {
    margin-top: 2rem;
    margin-left: 1rem;
    height: 27rem;
    width: 14rem;
  }

  .offer-img {
    width: 14rem;
  }

  #sect3-bg {
    width: 20rem;
  }

  /* FOOTER  */
  footer {
    padding: 0;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    align-items: flex-start;
    justify-content: center;
  }

  footer img {
    width: 15rem;
  }
}
