/* GENERAL DECLARATION */

body{
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html{
    margin:0;
}

h1 {
  color: #ee6a51;
  font-weight: 640;
  font-size: 9vh;
}

h2{
    color: #EE6A51;
    font-weight: 640;
    font-size: 7vh;
    margin: 0;
}

h3 {
  color: white;
  font-weight: 640;
  font-size: 5vh;
}


h4{
    margin: 0;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0px;
    /* margin-top: 20rem; */
}



/* NAVBAR */

nav{
    display: flex;
    align-items: center;
    /* background-color: red; */
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: .2rem 0;
    background-color: #FFFFFF;
    z-index: 99;
}

.mobile-menu{
    z-index: 100;
    position: fixed;
    background-color: #F7D27F;
    width: 100vw;
    height: 100vh;
    display: none;
}

.mobile-menu ul{
    margin: 30vh auto;
    /* text-align: center; */
    
}

.mobile-menu li {
    margin-bottom: 2rem;
    
}

.mobile-menu a{
    color: #111111;
}

.nav-mobile{
    display: none;
}

.logo{margin-left: 6rem;}

.menu a{
    /* text-decoration: none;
    color: #516064; */
    margin-left: 2rem;
}

.menu a:hover {
  color: #ee6a51;
  transition: 0.3s;
}

.menu {
    margin-right: 6rem;
    
}

#selected {
  color: #ee6a51;
  font-weight: 640;
}

/* SECTION 1 */

#sect1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;  
    padding-top: 14vh;
}

.sect1-top{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 100%;
}

.banner-big{
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.sect1-content{
    padding-left: 100px;
    position: relative;
    width: 100%;
}

.input-text {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #9aa6a9;
  display: flex;
  align-items: center;
  /* align-content: center; */
  padding-left: 20px;
}

.input-medium{
    all: unset;
    padding-left: 20px;
    text-align: left;
}



/* SECTION 2 */

#sect2{
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
}

#sect2-bg{
    position: absolute;
    left: 0;
    width: 20rem;
    z-index: -1;
}



.sect2-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.sect2-bottom{
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem; 
     
}

.counter{
    text-align: center;
    margin: 0;
}

.border{
    
    width: 2.5px;
    height: 100px;
    background-color: #9AA6A9;
}


/* SECTION 3 */



#sect3{
    padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;  SETTING SEMENTARA */
    align-items: center;
    align-content: center;
    background-image: url(../img/floating-item-single-blue.svg);
    background-position: right top;
    /* background-image: url(../img/floating-item-single-cream.svg);
    background-position: left bottom; */
  background-repeat: no-repeat;
  background-size: 190px;
}

.sect3-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect3-middle {
  width: 70%;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}



.small-card{
    width: 300px;
    height: 350px;
    overflow: hidden;
    /* background-color: #35A9DB; */
    border-radius: 20px;
    
}

.small-card p {
  display: none;
}

.small-card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.1s;
}

.small-card:hover p{  
    transition-delay: 0.2s;
    display: block;
    padding: 10px;
    transition: display 0.2s ease-in;
    /* transition-timing-function: ease-in-out; */
}

.small-card:hover img {
  width: 150px;
  transition: width 0.7s;
}

.card-image {
  width: 250px;
  transition: width 0.5s;
}


.underline{
    background-color: #EE6A51;
    width: 150px;
    height: 9px;
    border-radius: 100px;
    margin-top: 0.5rem;
}

/* SECTION 4 */

#sect4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-image: url(../img/TELEVISION.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35vh;
}

.sect4-top {
  width: 100%;
  height: 50vh;
  color: white;
  background-image: url(../img/bgbanner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sect4-top-right {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.btn-medium {
  width: 250px;
  height: 50px;
  background-color: #ee6a51;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.sect4-bottom{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.sect4-bottom-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sect4-bottom-bottom {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

/* FOOTER  */


footer{
    
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px; 
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
}

.footer-right{
    display: flex;
}

.footer-right div{
    width: 50%;
}

.footer-left{
    margin-left: 40px;
}

li{
    list-style-type: none;
}



a{
    all: unset;
    cursor: pointer;
}

.footer-right-inside a{
    color: #67787c;
}


a:hover{
    color: #EE6A51;
    transition: 0.2s;
}


.footer-title{
    color: black;
    font-weight: 640;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.display-block {
    display: block!important;
}


/* footer{
  
    height: 40vh;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
   
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.footer-right-inside {
  width: 100%;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right-inside a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #516064;
}
.footer-title {
  color: #516064;
  font-weight: 640;
  font-size: 3vh;
}
.footer-title{
    color: #516064;
    font-weight: 640;
    font-size: 3vh;
} */

/* EMERGENCY SECTION */

#videotron{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/floating-item-single-cream.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 40vh;
}

.video{
    margin-right: 2rem;
    width: 600px;
}

.vid-desc{
    max-width: 30vw;
}

.videotron-card{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
    width: 70%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.videotron-card p{
    font-size: 2rem;
    font-weight: 640;
    color: #EE6A51;
}




/* MOBILE DISPLAY */

@media screen and (max-width:600px){
    
    h1{
        color: #EE6A51;
        font-weight: 640;
        font-size: 5vh;
    }

    h2{
        color: #EE6A51;
        font-weight: 640;
        font-size: 3vh;
    }

    h3{
        color: white;
        font-weight: 640;
        font-size: 3vh;
    }

    p{
        font-size: 2vh;
    }

    
    /* nav{
        max-width: 100vh;
        padding-left: none;
        display: flex;
        justify-content: space-between;   
        align-items: center;
    } */

    
    .logo img{
        width: 150px;
        /* display: none; */
    }

    #sect1{
        width: 100%;
        max-width: 100vw;
        padding-left: 0px;
        margin: 0px;

    }

    .menu{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

   

    .nav-mobile{
        display: flex;
        width: 20px;
        padding-right: 4rem;

    }

    .sect1-top{
            flex-direction: column;
            text-align: center;
    }

    .sect1-content{
        padding-left: 0px;
    }

    .banner-big{
        align-items: flex-end;
        width: 490px;
        transform: translateX(5rem);
    }

    #sect2{
        margin-top: 250px;
     
    }

    #sect2-bg{
        width: 10rem;
        top: 200%;
    }

    .underline{
        height: 4px;
        width: 100px;
    }

    .sect2-bottom{
        grid-template-columns: repeat(2,1fr);
        
        
    }

    .border{
        display: none;
    }

    /* SECTION 3 */


    .sect3-middle{
        flex-direction: column;
        width: 100%;
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    
    .small-card{
        width: 260px;
        height: 250px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        /* background-color: #35A9DB; */
        border-radius: 20px;
        margin-bottom: 100px;
        background-color: w;
    }
    
    .small-card:hover p{
        display: none;
    }
    
    

    .card-image{
        width: 150px;
        transition: width 0.5s;
    
    }

    
    .video{
        width: 250px;
        border-radius: 20px;
    }

    #videotron{
        /* display: flex; */
        flex-direction: column;
    }

    .vid-desc{
        max-width: 75vw;
        text-align: center;
    }

    #sect4{
        background-position: right bottom;
        background-size: 20vh;
        width: 100%;
    }

    .sect4-top{
        flex-direction: column;
        
    
        align-items: center;
    }

    .sect4-top p, h3{
        width: 70%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .btn-medium{
        width: 250px;
    }

    .sect4-bottom-top{
        padding-top: 80px;
    }

    .sect4-bottom-bottom{
         
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .socialmedia{
        width: 30px;
    }


    footer{
        padding: 0;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
        align-items: flex-start;
        justify-content: center;
    }

    footer img{
        width: 15rem;
    }

    .footer-right{
        
    }
    
}
